<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162004634624-dfmmmk732b9oobs3cvi7kcudddqa07mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162004634624-dfmmmk732b9oobs3cvi7kcudddqa07mg</string>
	<key>API_KEY</key>
	<string>AIzaSyDVZI7ciAJm3MQqQlr0f5_r0OPZQj9YhS4</string>
	<key>GCM_SENDER_ID</key>
	<string>162004634624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spacedsoft.contador</string>
	<key>PROJECT_ID</key>
	<string>contador-flutterio</string>
	<key>STORAGE_BUCKET</key>
	<string>contador-flutterio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162004634624:ios:1d112f1032258f3f241ce5</string>
</dict>
</plist>